body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 50px;
  max-width: 100%;
  height: 700px;
  background-color: black;
}
.box-1 {
  width: 500px;
  height: 650px;
  margin: 0 auto;
  background-color: rgb(246, 219, 66);
}
.box-header {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-img:hover {
  border: 1px solid black;
  transition: 0.2s all;
}
.box-2 {
  position: absolute;
  top: 180px;
  right: 380px;
  width: 500px;
  height: 470px;
  background-color: white;
}
.box-2-img {
  position: relative;
  bottom: 30px;
  left: 30px;
  border-radius: 50px;
}
.form {
  position: absolute;
  left: 40px;
  top: 60px;
}
.user-name p {
}
.user {
  outline: none;
  border: hidden;
  width: 200px;
}
.first-name {
  display: flex;
}
.textarea {
  outline: none;
  resize: vertical;
  border: hidden;
  border-bottom: solid 1px rgb(172, 170, 170);
}
.box-3 {
  justify-content: space-around;
  display: flex;
  position: absolute;
  top: 665px;
  right: 500px;
}
.box-3-a1 {
  color: black;
  text-decoration: none;
}
.box-3-a1:hover {
  text-decoration: underline;
}
.box-3-a2 {
  color: black;
  text-decoration: none;
  padding-left: 40px;
}
.box-3-a2:hover {
  text-decoration: underline;
}
